# SMTP
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@dankook.ac.kr
SMTP_PASSWORD=your_app_password

# Mail
TO_EMAIL=receiver@dankook.ac.kr

# Policy
ALLOWED_DOMAIN=dankook.ac.kr
ALLOW_EXTERNAL_RECIPIENT=false
